<div class="container user-page">
   <header>
      <div class="page-header">
         <h1>Login Page</h1>
      </div>
   </header>

<div class=form-control>
   <%= form_for @user, url: "/sessions", method: "post" do |f| %>

      <%= f.email_field :email, placeholder: "Email" %>

      <%= f.password_field :password, placeholder: "Password" %>

   <br>
   <div>
      <%= f.submit class: "btn btn-sm" "Sign ", value: "Log in" %>
   </div>
   <% end %>
</div>
