<header>
   <h1>Welcome to Wanderful</h1>
</header>

<div>
   <h2>Join Us! <small>It's free</small></h2>
   <p>Wanderful is a social travel site where you can essentially keep a blog of places you,ve visited and help make other people's expiriences at that destination better.</p>
</div>

<div class="button-wrapper">
      <!-- Eventially will link to user login page -->
   <a href="#"><button class="button" id="login-redirect">Login</button></a>
      
   <a href="/users/new"><button class="button" id="signup-redirect">Sign Up</button></a>
</div>
