<div class="container">
   <header>
      <div class="page-header">
         <h1>Welcome to Wanderful</h1>
         <h3>Your Connection to Travel</h3>
      </div>
   </header>

   <div>
      <h2>Join Us! <small>It's free</small></h2>
      <p>Wanderful is a social travel site where you can essentially keep a blog of places you,ve visited and help make other people's expiriences at that destination better.</p>
   </div>

   <div class="button-wrapper">
      <a href="/sessions/new"><button class="btn btn-danger" id="login-redirect">Login</button></a>
      <a href="/users/new"><button class="btn btn-warning" id="signup-redirect">Sign Up</button></a>
      <a href="/cities"><button class="btn btn-info" id="cities-index">City List</button></a>
   </div>
</div>
