<div class="container">
   <div class="page-header">
      <header>
         <h1>Cities</h1>
      </header>
   </div>

   <div class="page-container">
      <div class="panel">
         <div class="panel-body">

            <% @cities.each do |city| %>
               <div>
                  <h3><%= city.name %> </h3><a href="/cities/<%= city.id %>", data-no-turbolink= "true"><button class="btn btn-xs btn-success">See Travel Logs</button></a>
                  
               </div>
            <% end %>
            </ul>
         </div>
      </div>

   </div>
</div>
