
<div class="page-container">
		<div class="panel panel-info">
			<div class="panel-heading">
				<h2>Travel Logs Archives</h2>
			</div>

			<div class="panel-body">
				<% @logs.each do |log| %>

				<div>
					<a href="/logs/<%= log.id %>"><h4> <%= log.title %> </h4></a>
				</div>

				<% end %>
			</div>
		</div>

</div>
